# Copie este arquivo para .env e ajuste os valores

# Django
SECRET_KEY=troque-para-uma-chave-secreta-forte-em-producao
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

# Superusuário criado automaticamente na primeira execução
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@webcontrol.local
DJANGO_SUPERUSER_PASSWORD=webcontrol@2025
